@inject Microsoft.AspNetCore.Mvc.Razor.TagHelpers.ITagHelperComponentManager manager
<head inject>
</head>
@{
    manager.Components.Add(new MyTagHelperComponent(2, "<p>TagHelperComponent added from view.</p>"));
}
<body inject>
</body>